<!DOCTYPE html>

<html>

<head>
    <link rel='icon' href="/img/apple-icon.jpg">
    <title>AboutUs</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class='main-content'>
        {{>header}}
    <p><b>Name:Aman Agrawal</b></p>
    <img class='potrait' src="/img/20191208_235254.jpg">
    </div>
    
    {{>footer}}
</body>

</html>